* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  opacity: 0.9;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  color: seashell;
  text-align: center;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
}

/* NAV */

nav {
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: black;
}

nav .wrapper {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 50px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: seashell;
  margin-left: 20px;
}

/* Spacer */
.spacer {
  height: 69px;
}

/* Hero */

.hero {
  height: 700px;
  max-width: 1200px;
  margin: 0 auto 80px;
  background-image: url(/images/img-mission-background.webp);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-text {
  background: black;
  width: 100%;
  padding: 0 10px;
}

.hero-text h2 {
  margin: 10px 0 20px;
}

.hero-text h4 {
  margin: 10px 0;
}

/* Main */

.main {
  margin: 0 auto 50px;
  max-width: 1000px;
  height: 400px;
}

.main h2 {
  margin-bottom: 25px;
}

.main h4 {
  margin-bottom: 25px;
}

.main .main-content-1 {
  display: flex;
  justify-content: space-between;
}

.main img{
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 10px;
}

.main .main-content-2 {
  display: flex;
  justify-content: space-evenly;
}